*.swp
*cred*
*oauth2*
*cookie*
*.lock
*_history

/.ICEauthority
/.Xauthority
/.android/
/.awesome-client_history
/.bash_logout
/.bashrc_local
/.cache/
/.cinnamon/
/.cups/
/.config/GIMP/
/.config/dconf/
/.config/enchant/
/.config/glinux/
/.config/goobuntu-indicator/
/.config/google-chrome/
/.config/gtk-2.0/
/.config/gtk-3.0/
/.config/hexchat/
/.config/menus/
/.config/mimeapps.list
/.config/nemo/
/.config/nheko/
/.config/pavucontrol.ini
/.config/pulse/
/.config/user-dirs.dirs
/.config/user-dirs.locale
/.config/QMatrixClient/
/.config/QtProject.conf
/.dbus/
/.dmrc
/.emacs
/.fehbg
/.fltk/
/.gnome/
/.gnupg/
/.keychain/
/.kshrc
/.lesshst
/.local/bin/
/.local/include/
/.local/lib/
/.local/libexec/
/.local/share/
/.local/stamp/
/.nv/
/.mhng/
/.posh/
/.pki/
/.profile
/.repo_.gitconfig.json
/.repoconfig/
/.secureConnect/
/.subversion/
/.ssh/id_*
/.ssh/sk-passwords
/.tmp/
/.viminfo
/.vpython*
/.wget-hsts
/.xsession-errors
/.xsession-errors.old
/Downloads/
/gnupg.tar
/life/
/work/
