[submodule ".local/src/pconfigure"]
	path = .local/src/pconfigure
	url = git://github.com/palmer-dabbelt/pconfigure.git
[submodule ".local/src/putil"]
	path = .local/src/putil
	url = git://github.com/palmer-dabbelt/putil.git
[submodule ".local/src/gitdate"]
	path = .local/src/gitdate
	url = git://github.com/palmer-dabbelt/gitdate.git
[submodule ".local/src/psqlite"]
	path = .local/src/psqlite
	url = git://github.com/palmer-dabbelt/psqlite.git
[submodule ".local/src/libbase64"]
	path = .local/src/libbase64
	url = git://github.com/palmer-dabbelt/libbase64.git
[submodule ".local/src/mhng"]
	path = .local/src/mhng
	url = git://github.com/palmer-dabbelt/mhng.git
[submodule ".local/src/pson"]
	path = .local/src/pson
	url = git://github.com/palmer-dabbelt/pson.git
[submodule ".local/src/msmtp"]
	path = .local/src/msmtp
	url = https://git.marlam.de/git/msmtp.git
[submodule ".local/src/depot_tools"]
	path = .local/src/depot_tools
	url = https://chromium.googlesource.com/chromium/tools/depot_tools.git
[submodule ".local/src/pshs"]
	path = .local/src/pshs
	url = git://github.com/mgorny/pshs.git
[submodule ".local/src/pipewire"]
	path = .local/src/pipewire
	url = https://gitlab.freedesktop.org/pipewire/pipewire.git
[submodule ".local/src/wireplumber"]
	path = .local/src/wireplumber
	url = https://gitlab.freedesktop.org/pipewire/wireplumber.git
[submodule ".local/src/openssl"]
	path = .local/src/openssl
	url = git://git.openssl.org/openssl.git
[submodule ".local/src/curl"]
	path = .local/src/curl
	url = https://github.com/curl/curl.git
[submodule ".local/src/dt-schema"]
	path = .local/src/dt-schema
	url = https://github.com/devicetree-org/dt-schema.git
