*.swp

/.ICEauthority
/.Xauthority
/.awesome-client_history
/.bash_history
/.bash_logout
/.cache/
/.config/
/.cinnamon/
/.dbus/
/.dmrc
/.emacs
/.gnome/
/.gnupg/
/.keychain/
/.kshrc
/.lesshst
/.local/bin/
/.local/include/
/.local/lib/
/.local/libexec/
/.local/share/
/.local/stamp/
/.pki/
/.profile
/.repo_.gitconfig.json
/.repoconfig/
/.secureConnect/
/.ssh/id_rsa
/.ssh/id_rsa.pub
/.ssh/sk-passwords
/.viminfo
/.wget-hsts
/.xsession-errors
/.xsession-errors.old
/Downloads/
/gnupg.tar
/life/
/work/

!/.config/awesome/
