[submodule ".local/src/pconfigure"]
	path = .local/src/pconfigure
	url = https://github.com/palmer-dabbelt/pconfigure.git
[submodule ".local/src/putil"]
	path = .local/src/putil
	url = https://github.com/palmer-dabbelt/putil.git
[submodule ".local/src/gitdate"]
	path = .local/src/gitdate
	url = https://github.com/palmer-dabbelt/gitdate.git
[submodule ".local/src/psqlite"]
	path = .local/src/psqlite
	url = https://github.com/palmer-dabbelt/psqlite.git
[submodule ".local/src/libbase64"]
	path = .local/src/libbase64
	url = https://github.com/palmer-dabbelt/libbase64.git
[submodule ".local/src/mhng"]
	path = .local/src/mhng
	url = https://github.com/palmer-dabbelt/mhng.git
[submodule ".local/src/pson"]
	path = .local/src/pson
	url = https://github.com/palmer-dabbelt/pson.git
[submodule ".local/src/pshs"]
	path = .local/src/pshs
	url = https://github.com/mgorny/pshs.git
[submodule ".local/src/pipewire"]
	path = .local/src/pipewire
	url = https://gitlab.freedesktop.org/pipewire/pipewire.git
[submodule ".local/src/wireplumber"]
	path = .local/src/wireplumber
	url = https://gitlab.freedesktop.org/pipewire/wireplumber.git
[submodule ".local/src/curl"]
	path = .local/src/curl
	url = https://github.com/curl/curl.git
[submodule ".local/src/dt-schema"]
	path = .local/src/dt-schema
	url = https://github.com/devicetree-org/dt-schema.git
[submodule ".local/src/b4"]
	path = .local/src/b4
	url = git://git.kernel.org/pub/scm/linux/kernel/git/palmer/b4.git
