[user]
	name = Palmer Dabbelt
	email = palmer@rivosinc.com
	signingkey = palmer@dabbelt.com

[sendemail]
	smtpencryption = tls
	smtpserver = /home/palmer/.local/bin/mhng-pipe-comp_stdin

[push]
	default = simple

[pull]
	ff = only

[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --no-show-signature
	fap = fetch --all --prune --verbose
	oneline = log --oneline --no-show-signature
	fixes = log --pretty=fixes --no-show-signature
	ff = merge --ff-only

[core]
	abbrev = auto

[pretty]
	fixes = Fixes: %h (\"%s\")

[rerere]
	enabled = 1

[log]
	showSignature = true

[commit]
	gpgsign = true

[merge "merge-changelog"]
	name = GNU-style ChangeLog merge driver
	driver = /usr/bin/git-merge-changelog %O %A %B

[url "ssh://git@gitolite.kernel.org"]
	insteadOf = git://git.kernel.org
	insteadOf = https://git.kernel.org
	insteadOf = http://git.kernel.org

[url "ssh://gitolite.kernel.org"]
	insteadOf = git://git.kernel.org
	insteadOf = https://git.kernel.org
	insteadOf = http://git.kernel.org

[url "ssh://git@github.com"]
	insteadOf = git://github.com
	insteadOf = https://github.com
	insteadOf = http://github.com

[color]
	ui = auto
[http]
	cookiefile = /home/palmer/.gitcookies

[b4]
	thanks-commit-url-mask = https://git.kernel.org/palmer/c/%.12s

[merge]
	log = true
	#verifySignatures = true
